body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.svg-wrapper {
  width: 30px;
  height: 30px;
}

.svg-wrapper svg {
  width: 100%;
  height: 100%;
}

.button {
  text-decoration: none;
  min-height: var(--style-button-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--style-button-border-radius);
  padding: 5px 20px;
  min-width: 150px;
  font-size: 18px;
  font-weight: 600;
}

.button--primary {
  color: var(--color-button-foreground);
  background-color: var(--color-button);
  border-color: var(--style-button-border-width) solid
    var(--color-button-border);
}

.button--primary:focus,
.button--primary:hover {
  color: var(--color-button-hover-foreground);
  background-color: var(--color-button-hover);
  border-color: var(--color-button-hover-border);
}

.button--secondary {
  color: var(--color-secondary-button-foreground);
  background-color: var(--color-secondary-button);
  border-color: var(--style-button-border-width) solid
    var(--color-secondary-button-border);
}

.button--secondary:focus,
.button--secondary:hover {
  color: var(--color-secondary-button-hover-foreground);
  background-color: var(--color-secondary-button-hover);
  border-color: var(--color-secondary-button-hover-border);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.buttons.center {
  justify-content: center;
}

@media (max-width: 767px) {
  .button {
    min-width: 130px;
    min-height: var(--style-button-height-mobile);
  }
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 2;
}

.header-wrapper {
  padding: 20px 0;
}

.header-grid {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  z-index: 9;
}

.header-logo {
  max-width: 160px;
}

@media (max-width: 767px) {
  .header-logo {
    max-width: 140px;
  }
}

/* Media */
.media-wrapper {
  position: relative;
  overflow: hidden;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media img {
  object-fit: cover;
  height: 100%;
}

/* Hero Banner */
.hero-banner {
  min-height: 100vh;
}

.hero-banner .media{
  clip-path: inset(0);
}

.hero-img {
  filter: brightness(0.3);
  position: fixed;
}

.hero-heading {
  font-size: 60px;
  font-weight: 700;
  margin-block-end: 30px;
  color: #fff;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px 20px;
  color: #d6e942;
  font-size: 18px;
  font-weight: 500;
  margin-block-end: 40px;
}

@media (max-width: 767px) {
  .hero-heading {
    font-size: 36px;
  }

  .hero-heading br {
    display: none;
  }

  .branding-logo {
    max-width: 100px;
  }
}

/* Flex Content */
.flex-content {
  position: relative;
  z-index: 1;
}

.max-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Section Headings */
.section-headings .heading {
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  font-weight: 500;
}

.section-headings .text {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.section-headings .heading + .text {
  margin-block-start: 24px;
}

.section-headings + .section-content {
  margin-block-start: 60px;
}

.mt-100 {
  margin-block-start: 100px;
}

.section-padding {
  padding-block-start: 100px;
  padding-block-end: 100px;
}

@media (max-width: 767px) {
  .section-headings .heading {
    font-size: 32px;
  }

  .mt-100 {
    margin-block-start: 70px;
  }

  .section-padding {
    padding-block-start: 70px;
    padding-block-end: 70px;
  }

  .section-headings + .section-content {
    margin-block-start: 40px;
  }
}

/* Card Demo */
.product-grid {
  row-gap: 60px;
}

.card-demo {
  --transition: 0.3s ease;
  --icon-size: 50px;
  text-decoration: none;
  display: block;
}

.card-demo .media-wrapper {
  min-height: 400px;
  border: 8px solid #7c91d7;
  border-radius: 15px;
  position: relative;
}

.card-demo .media-wrapper:after {
  content: url(../images/icon-arrow-rotate.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.card-demo .media-wrapper:after {
  content: url(../images/icon-arrow-rotate.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
  background: #0f172b;
  border-radius: 100%;
  padding: 13px;
  color: #fff;
  transform: scale(0.5) translate(-50%, -50%);
  opacity: 0;
  transition: var(--transition);
}

.card-demo .media img {
  transition: var(--transition);
  object-position: top;
}

.card-demo:focus .media-wrapper:after,
.card-demo:hover .media-wrapper:after {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.card-demo:focus .media img,
.card-demo:hover .media img {
  filter: brightness(75%);
}

.card-demo .heading {
  position: relative;
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #f0b100;
  text-underline-position: under;
  text-underline-offset: 4px;
}

.card-demo .heading:after {
  content: url("../images/icon-arrow.svg");
  width: 18px;
  height: 18px;
}

@media (max-width: 767px) {
  .product-grid {
    row-gap: 40px;
  }
}

.scroll-to-top {
  --size: 50px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 10;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 37, 57, 1);
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-lock .scroll-to-top {
  display: none;
}

.scroll-to-top svg {
  --size: 22px;
  color: #fff;
  width: var(--size);
  height: var(--size);
}

@media (max-width: 767px) {
  .scroll-to-top {
    --size: 40px;
  }

  .scroll-to-top svg {
    --size: 20px;
  }
}
